<h1 class="heading heading-about">About Pitch Catcher</h1>

<div class="intro">
    <h3>Are you a screenwriter?</h3>
    <iframe src="https://giphy.com/embed/XIqCQx02E1U9W" width="480" height="269" frameBorder="0"></iframe>
</div>

<div class="intro">
    <h3>Do you think you have a Dynamite Script?</h3>
    <iframe src="https://giphy.com/embed/l0K4aPeVWF1PYtGWk" width="480" height="480" frameBorder="0"></iframe>
</div>

<div class="intro">
    <h3>Do you think it will rake in millions of dollars at the box office?</h3>
    <iframe src="https://giphy.com/embed/LCdPNT81vlv3y" width="480" height="270" frameBorder="0"></iframe>
</div>

<div class="intro">
    <h3>Do you think it will be a critical darling?</h3>
    <iframe src="https://giphy.com/embed/RmwBFjwUoqfDy" width="480" height="362" frameBorder="0"></iframe>
</div>

<div class="intro">
    <h3>Do you think it will be an Oscar winner?</h3>
    <iframe src="https://giphy.com/embed/87hciB4w9Di5zFMJcj" width="480" height="247" frameBorder="0"></iframe>
</div>

<div class="intro">
    <h3>But don't know how to get noticed by the global cinema industry?</h3>
   <iframe src="https://giphy.com/embed/sU511xfb7ORqw" width="480" height="270" frameBorder="0"></iframe>
</div>

<div class="intro-last">
    <h1>Then you've come to the... <span class="write">write</span> place.</h1>
    <iframe src="https://giphy.com/embed/5gw0VWGbgNm8w" width="480" height="233" frameBorder="0"></iframe>
</div>

<a class="more-info" href="/about/2">Tell me more!</a>