<h3>Do you have a Million Dollar Script?</h3>
<h3>Do you reckon it will win awards?</h3>

<h3>Don't know how to get noticed by Hollywood, Bollywood or Hong Kong Cinema Moguls?</h3>

<h1>Then you've come to the "write" place.</h1>

<h2>What is Pitch Catchers?</h2>
<p>An app that allows screenwriters to upload and share their elevator pitch they worked so hard for.</p>
<p>Film Industry Agents and Scouts log in everyday and decide which pitch has potential to become a film.</p>
<p>No need to wait for a "promised" interview.</p>
<p>No need to find an agent.</p>
<p>No need to wait and get "discovered".</p>

<p>Pitch Catchers will do everything for you.</p>

<p><a href="/type_of">Are you ready to begin?</a></p>