<div class='start'>INT. MOBILE SCREEN.</div>

<h1 class="heading">Welcome to Screen Pitchers!</h1>

<p>The platform where screenwriters of film and television can pitch their ideas and get noticed without all the fluff.</p>

<a class="learn-more" href="/about">Learn More</a>

<%# <div class="links">
    <a class="link" href="/login">Log In</a>
    <a class="link" href="/sign_up">Sign Up</a>
</div> %>