<h1>All Pitches</h1>

<% @pitches.each do |pitch| %>
    <div class="pitch-box">
    <h3><a class="pitch-link" href="/pitches/<%= pitch.id %>"><%= pitch.title%></a></h3>  
    <% @users.select do |user| %>
        <% if user.id == pitch.user_id %>
            <p class="author">By <%= user.name %></p>
        <% end %>
    <% end %> 
    </div>
<% end %>