<h2>Here you can reset your email and password.</h2>

<form action="/settings/<%= current_user.id %>" method="post">
    <input type="hidden" name="_method" value="put">

    <label for="">Email</label>
    <input name="email" value="<%= @user.email %>">

    <label for="">Password</label>
    <input name="password" type="password">

    <button>Update</button>
</form>

<p><a class="link" href="/my_profile/<%= current_user.id %>">Go Back to Profile</a></p>