<h1>Hello, and welcome to the world of Pitch!</h1>
<h3>You're one step closer to making your dream film.</h3>

<h1>First Off!</h1>

<h2>Are you a Writer or a Buyer?</h2>

<a href="/sign_up">Writer</a>

<a href="/sign_up_buyer">Buyer</a>