<div class="typeof-login">
    <div class="kind">
        <h2 class="">Are you a Writer or a Buyer?</h2>
    </div>
    <section>
        <div class="writer-login">
            <a href="/login">Writer</a>
        </div>
        </div class="buyer-login">
            <a href="/login_buyer">Buyer</a>
        </div>
    </section>
</div>